---
layout: default
---

{% assign contentful = site.contentful.page | where: "slug", "home" | first %}

{% assign banner = contentful.contentBlocks | where: "type", "pageBanner" | first %}
<div class="acc-page-banner acc-homepage-banner">
  <h1 style="background-image: url('{{ banner.backgroundImage.url }}?w=1200');">
    <div class="acc-page-banner-overlay"></div>
<!--     <span>{{ banner.title }}</span> -->
    <a class="acc-button" href="#">Request a Proposal</a>
  </h1>
  <div class="acc-page-banner-text-container acc-color-theme-Default acc-color-theme-{{ page.contentful.colorScheme }}">
    {{ banner.text | markdownify }}

    {% if banner.buttons %}
      <ul class="usa-unstyled-list acc-page-banner-menu">
        {% assign buttons = banner.buttons %}
        {% for button in buttons %}
          {% assign doc = button | find_document %}
          {% assign url = button.url | default: doc.url %}
          <li>
            <a href="{{ url }}" class="acc-button">{{ button.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>		
</div>

<div class="usa-grid acc-homepage-menu-container">
  {% assign menu = site.contentful.menu | where_exp: "menu", "menu.name == 'Homepage'" | first %}

  <ul class="usa-unstyled-list acc-button-grid">
    {% for item in menu.items %}
      <li>
        <a href="#">
          <img src="{{ item.image.url }}?w=330&h=220&fit=thumb" />
          {{ item.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>



<div class="usa-grid acc-social-container">
  <div class="usa-width-one-whole">
    {% assign socialMediaHeader = contentful.contentBlocks | where: "title", "social-media-header" | first %}
    {% unless socialMediaHeader == blank %}
      <div class="acc-social-header">
        {{ socialMediaHeader.text | markdownify }}
      </div>
    {% endunless %}
    <div id="curator-feed"></div>
  </div>
</div>

<script type="text/javascript">
  (function(){
  var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
  i.src = "https://cdn.curator.io/published/{{ site.curator_embed_id }}.js";
  e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
  })();
</script>
