---
layout: default
contentful_id: 4S1U5bQghaQAaKQsqOKywe
---
{% include components/content_blocks.html blocks=page.contentful.contentBlocks %}

<div class="acc-full">
  <div class="acc-flex no-break">
    <div class="acc-flex-two-thirds">
      <ul class="acc-unstyled-list acc-press-release-list">
        {% assign press_releases = site.press-room | sort: "date" | reverse %}
        {% for press_release in press_releases %}
          <li>
            <strong class="acc-press-release-date">{{ press_release.date | date: "%B %-d, %Y" }}</strong><br>
            <a href="{{press_release.url}}">{{ press_release.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
