{% assign contact = include.contact %}

<div class="acc-primary-contact">
  <h2>Contact {{ contact.division }}</h2>
  <p>
    {{ contact.name }}<br>
    {{ contact.title }}<br>
    {% if contact.phone != nil %}
      {{ contact.phone | format_phone }}<br>
    {% endif %}
    <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
    {% if contact.division != blank %}
  </p>
  <p>
      <a class="acc-button acc-button-dark" href="{{ site.baseurl }}/contact/{{contact.division | slugify }}">See {{ contact.division }}</a>
  </p>
  {% endif %}
</div>
