<script src="http://code.jquery.com/jquery-1.8.2.min.js" type="text/javascript"></script>
<div class="wrapper">


    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            {% if site.title == "Austin Convention Center" %}
            <ul>
                <li><a href="https://images.contentful.com/a0fcgy83nees/2elJjHvc4sQqGiEkIgYKAS/1766e89b7e07bce0aa7ceeff6922bbdf/_MG_5185_Atrium_Day.jpg?w=1800">
                    <img src="https://images.contentful.com/a0fcgy83nees/2elJjHvc4sQqGiEkIgYKAS/1766e89b7e07bce0aa7ceeff6922bbdf/_MG_5185_Atrium_Day.jpg?w=330&amp;h=220&amp;fit=thumb" srcset="//images.contentful.com/a0fcgy83nees/2elJjHvc4sQqGiEkIgYKAS/1766e89b7e07bce0aa7ceeff6922bbdf/_MG_5185_Atrium_Day.jpg?w=990&amp;h=660&amp;fit=thumb 3x,
                      https://images.contentful.com/a0fcgy83nees/2elJjHvc4sQqGiEkIgYKAS/1766e89b7e07bce0aa7ceeff6922bbdf/_MG_5185_Atrium_Day.jpg?w=660&h=440&fit=thumb 2x,
                      https://images.contentful.com/a0fcgy83nees/2elJjHvc4sQqGiEkIgYKAS/1766e89b7e07bce0aa7ceeff6922bbdf/_MG_5185_Atrium_Day.jpg?w=330&h=220&fit=thumb" itemprop="thumbnail" alt="ACC Exterior">
                    </a>
                    <center>
                        <em>ACC Caption 1</em><br/>
                        <em>By-line  1</em>
                    </center>
                </li>
                <li>
                    <a href="https://images.contentful.com/a0fcgy83nees/1EhCSHXz8kiOKG80AKuOEE/14cc0a03ea473f77d66cde169c961215/ACC_DT_View.jpg?w=1800" itemprop="contentUrl" data-width="1749" data-height="1188" data-url="https://images.contentful.com/a0fcgy83nees/1EhCSHXz8kiOKG80AKuOEE/14cc0a03ea473f77d66cde169c961215/ACC_DT_View.jpg">
                        <img src="https://images.contentful.com/a0fcgy83nees/1EhCSHXz8kiOKG80AKuOEE/14cc0a03ea473f77d66cde169c961215/ACC_DT_View.jpg?w=330&h=220&fit=thumb" srcset="https://images.contentful.com/a0fcgy83nees/1EhCSHXz8kiOKG80AKuOEE/14cc0a03ea473f77d66cde169c961215/ACC_DT_View.jpg?w=990&h=660&fit=thumb 3x,
                      https://images.contentful.com/a0fcgy83nees/1EhCSHXz8kiOKG80AKuOEE/14cc0a03ea473f77d66cde169c961215/ACC_DT_View.jpg?w=660&;h=440&fit=thumb 2x,
                      https://images.contentful.com/a0fcgy83nees/1EhCSHXz8kiOKG80AKuOEE/14cc0a03ea473f77d66cde169c961215/ACC_DT_View.jpg?w=330&;h=220&fit=thumb" itemprop="thumbnail" alt="ACC Exterior">
                    </a>
                    <center>
                        <em>ACC Caption 2</em><br/>
                        <em>By-line  2</em>
                    </center>
                </li>
                <li>
                    <a href="//images.contentful.com/a0fcgy83nees/1kDkpcjG8cqKYgko8cSkau/63f5c17994e35db638e32ece3f628d19/ACC_Atrium_interior.jpg?w=1800" itemprop="contentUrl" data-width="1785" data-height="1190" data-url="//images.contentful.com/a0fcgy83nees/1kDkpcjG8cqKYgko8cSkau/63f5c17994e35db638e32ece3f628d19/ACC_Atrium_interior.jpg">
                        <img src="//images.contentful.com/a0fcgy83nees/1kDkpcjG8cqKYgko8cSkau/63f5c17994e35db638e32ece3f628d19/ACC_Atrium_interior.jpg?w=330&h=220&fit=thumb" srcset="//images.contentful.com/a0fcgy83nees/1kDkpcjG8cqKYgko8cSkau/63f5c17994e35db638e32ece3f628d19/ACC_Atrium_interior.jpg?w=990&h=660&fit=thumb 3x,
                      //images.contentful.com/a0fcgy83nees/1kDkpcjG8cqKYgko8cSkau/63f5c17994e35db638e32ece3f628d19/ACC_Atrium_interior.jpg?w=660&h=440&fit=thumb 2x,
                      //images.contentful.com/a0fcgy83nees/1kDkpcjG8cqKYgko8cSkau/63f5c17994e35db638e32ece3f628d19/ACC_Atrium_interior.jpg?w=330&h=220&fit=thumb" itemprop="thumbnail" alt="ACC Interior">
                    </a>
                    <center>
                        <em>ACC Caption 3</em><br/>
                        <em>By-line  3</em>
                    </center>
                </li>
                <li>
                    <a href="//images.contentful.com/a0fcgy83nees/rdlb4cOdi0UUCeG2O2CkA/d3b28d15022a5508f6c3595be30463db/Atrium-Cafe-_1_-V2.jpg?w=1800" itemprop="contentUrl" data-width="1720" data-height="1144" data-url="//images.contentful.com/a0fcgy83nees/rdlb4cOdi0UUCeG2O2CkA/d3b28d15022a5508f6c3595be30463db/Atrium-Cafe-_1_-V2.jpg">
                        <img src="//images.contentful.com/a0fcgy83nees/rdlb4cOdi0UUCeG2O2CkA/d3b28d15022a5508f6c3595be30463db/Atrium-Cafe-_1_-V2.jpg?w=330&h=220&fit=thumb" srcset="//images.contentful.com/a0fcgy83nees/rdlb4cOdi0UUCeG2O2CkA/d3b28d15022a5508f6c3595be30463db/Atrium-Cafe-_1_-V2.jpg?w=990&h=660&fit=thumb 3x,
                      //images.contentful.com/a0fcgy83nees/rdlb4cOdi0UUCeG2O2CkA/d3b28d15022a5508f6c3595be30463db/Atrium-Cafe-_1_-V2.jpg?w=660&h=440&fit=thumb 2x,
                      //images.contentful.com/a0fcgy83nees/rdlb4cOdi0UUCeG2O2CkA/d3b28d15022a5508f6c3595be30463db/Atrium-Cafe-_1_-V2.jpg?w=330&h=220&fit=thumb" itemprop="thumbnail" alt="Atrium Café">
                    </a>
                    <center>
                        <em>ACC Caption 4</em><br/>
                        <em>By-line  4</em>
                    </center>
                </li>
                <li><a href = "//images.contentful.com/a0fcgy83nees/7689sidL7Gwkwio2kC2Guw/cac0e224fdf19743ffb2a8350922f59f/EH_1-2__1_.jpg?w=1800">
                    <img src="//images.contentful.com/a0fcgy83nees/7689sidL7Gwkwio2kC2Guw/cac0e224fdf19743ffb2a8350922f59f/EH_1-2__1_.jpg?w=330h=220&fit=thumb" srcset="//images.contentful.com/a0fcgy83nees/7689sidL7Gwkwio2kC2Guw/cac0e224fdf19743ffb2a8350922f59f/EH_1-2__1_.jpg?w=990&h=660&fit=thumb 3x,
                      //images.contentful.com/a0fcgy83nees/7689sidL7Gwkwio2kC2Guw/cac0e224fdf19743ffb2a8350922f59f/EH_1-2__1_.jpg?w=660&h=440&fit=thumb 2x,
                      //images.contentful.com/a0fcgy83nees/7689sidL7Gwkwio2kC2Guw/cac0e224fdf19743ffb2a8350922f59f/EH_1-2__1_.jpg?w=330&h=220&fit=thumb" itemprop="thumbnail" alt="Exhibit Halls 1-2 | 2016 Dell EMC World">
                    </a>
                    <center>
                        <em>ACC Caption 5</em><br/>
                        <em>By-line  5</em>
                    </center>
                </li>
                <li>
                    <a href="https://images.contentful.com/a0fcgy83nees/1EhCSHXz8kiOKG80AKuOEE/14cc0a03ea473f77d66cde169c961215/ACC_DT_View.jpg?w=1800" itemprop="contentUrl" data-width="1749" data-height="1188" data-url="https://images.contentful.com/a0fcgy83nees/1EhCSHXz8kiOKG80AKuOEE/14cc0a03ea473f77d66cde169c961215/ACC_DT_View.jpg">
                        <img src="https://images.contentful.com/a0fcgy83nees/1EhCSHXz8kiOKG80AKuOEE/14cc0a03ea473f77d66cde169c961215/ACC_DT_View.jpg?w=330&h=220&fit=thumb" srcset="https://images.contentful.com/a0fcgy83nees/1EhCSHXz8kiOKG80AKuOEE/14cc0a03ea473f77d66cde169c961215/ACC_DT_View.jpg?w=990&h=660&fit=thumb 3x,
                      https://images.contentful.com/a0fcgy83nees/1EhCSHXz8kiOKG80AKuOEE/14cc0a03ea473f77d66cde169c961215/ACC_DT_View.jpg?w=660&;h=440&fit=thumb 2x,
                      https://images.contentful.com/a0fcgy83nees/1EhCSHXz8kiOKG80AKuOEE/14cc0a03ea473f77d66cde169c961215/ACC_DT_View.jpg?w=330&;h=220&fit=thumb" itemprop="thumbnail" alt="ACC Exterior">
                    </a>
                    <center>
                        <em>ACC Caption 6</em><br/>
                        <em>By-line  6</em>
                    </center>
                </li>

              <li>
                  <a href="//images.contentful.com/a0fcgy83nees/1kDkpcjG8cqKYgko8cSkau/63f5c17994e35db638e32ece3f628d19/ACC_Atrium_interior.jpg?w=1800" itemprop="contentUrl" data-width="1785" data-height="1190" data-url="//images.contentful.com/a0fcgy83nees/1kDkpcjG8cqKYgko8cSkau/63f5c17994e35db638e32ece3f628d19/ACC_Atrium_interior.jpg">
                      <img src="//images.contentful.com/a0fcgy83nees/1kDkpcjG8cqKYgko8cSkau/63f5c17994e35db638e32ece3f628d19/ACC_Atrium_interior.jpg?w=330&h=220&fit=thumb" srcset="//images.contentful.com/a0fcgy83nees/1kDkpcjG8cqKYgko8cSkau/63f5c17994e35db638e32ece3f628d19/ACC_Atrium_interior.jpg?w=990&h=660&fit=thumb 3x,
                    //images.contentful.com/a0fcgy83nees/1kDkpcjG8cqKYgko8cSkau/63f5c17994e35db638e32ece3f628d19/ACC_Atrium_interior.jpg?w=660&h=440&fit=thumb 2x,
                    //images.contentful.com/a0fcgy83nees/1kDkpcjG8cqKYgko8cSkau/63f5c17994e35db638e32ece3f628d19/ACC_Atrium_interior.jpg?w=330&h=220&fit=thumb" itemprop="thumbnail" alt="ACC Interior">
                  </a>
                  <center>
                      <em>ACC Caption 7</em><br/>
                      <em>By-line  7</em>
                  </center>
              </li>

                      <li>
                        <a href="//images.contentful.com/a0fcgy83nees/rdlb4cOdi0UUCeG2O2CkA/d3b28d15022a5508f6c3595be30463db/Atrium-Cafe-_1_-V2.jpg?w=1800" itemprop="contentUrl" data-width="1720" data-height="1144" data-url="//images.contentful.com/a0fcgy83nees/rdlb4cOdi0UUCeG2O2CkA/d3b28d15022a5508f6c3595be30463db/Atrium-Cafe-_1_-V2.jpg">
                          <img src="//images.contentful.com/a0fcgy83nees/rdlb4cOdi0UUCeG2O2CkA/d3b28d15022a5508f6c3595be30463db/Atrium-Cafe-_1_-V2.jpg?w=330&h=220&fit=thumb" srcset="//images.contentful.com/a0fcgy83nees/rdlb4cOdi0UUCeG2O2CkA/d3b28d15022a5508f6c3595be30463db/Atrium-Cafe-_1_-V2.jpg?w=990&h=660&fit=thumb 3x,
                                    //images.contentful.com/a0fcgy83nees/rdlb4cOdi0UUCeG2O2CkA/d3b28d15022a5508f6c3595be30463db/Atrium-Cafe-_1_-V2.jpg?w=660&h=440&fit=thumb 2x,
                                    //images.contentful.com/a0fcgy83nees/rdlb4cOdi0UUCeG2O2CkA/d3b28d15022a5508f6c3595be30463db/Atrium-Cafe-_1_-V2.jpg?w=330&h=220&fit=thumb" itemprop="thumbnail" alt="Atrium Café">
                        </a>
                        <center>
                          <em>ACC Caption 8</em><br/>
                          <em>By-line  8</em>
                        </center>
                      </li>

                     <li>
                         <a href = "//images.contentful.com/a0fcgy83nees/7689sidL7Gwkwio2kC2Guw/cac0e224fdf19743ffb2a8350922f59f/EH_1-2__1_.jpg?w=1800">
                       <img src="//images.contentful.com/a0fcgy83nees/7689sidL7Gwkwio2kC2Guw/cac0e224fdf19743ffb2a8350922f59f/EH_1-2__1_.jpg?w=330h=220&fit=thumb" srcset="//images.contentful.com/a0fcgy83nees/7689sidL7Gwkwio2kC2Guw/cac0e224fdf19743ffb2a8350922f59f/EH_1-2__1_.jpg?w=990&h=660&fit=thumb 3x,
                                   //images.contentful.com/a0fcgy83nees/7689sidL7Gwkwio2kC2Guw/cac0e224fdf19743ffb2a8350922f59f/EH_1-2__1_.jpg?w=660&h=440&fit=thumb 2x,
                                   //images.contentful.com/a0fcgy83nees/7689sidL7Gwkwio2kC2Guw/cac0e224fdf19743ffb2a8350922f59f/EH_1-2__1_.jpg?w=330&h=220&fit=thumb" itemprop="thumbnail" alt="Exhibit Halls 1-2 | 2016 Dell EMC World">
                       </a>
                       <center>
                         <em>ACC Caption 9</em><br/>
                         <em>By-line  9</em>
                       </center>
                     </li>
                     <li>
                       <a href="https://images.contentful.com/a0fcgy83nees/1EhCSHXz8kiOKG80AKuOEE/14cc0a03ea473f77d66cde169c961215/ACC_DT_View.jpg?w=1800" itemprop="contentUrl" data-width="1749" data-height="1188" data-url="https://images.contentful.com/a0fcgy83nees/1EhCSHXz8kiOKG80AKuOEE/14cc0a03ea473f77d66cde169c961215/ACC_DT_View.jpg">
                         <img src="https://images.contentful.com/a0fcgy83nees/1EhCSHXz8kiOKG80AKuOEE/14cc0a03ea473f77d66cde169c961215/ACC_DT_View.jpg?w=330&h=220&fit=thumb" srcset="https://images.contentful.com/a0fcgy83nees/1EhCSHXz8kiOKG80AKuOEE/14cc0a03ea473f77d66cde169c961215/ACC_DT_View.jpg?w=990&h=660&fit=thumb 3x,
                                   https://images.contentful.com/a0fcgy83nees/1EhCSHXz8kiOKG80AKuOEE/14cc0a03ea473f77d66cde169c961215/ACC_DT_View.jpg?w=660&;h=440&fit=thumb 2x,
                                   https://images.contentful.com/a0fcgy83nees/1EhCSHXz8kiOKG80AKuOEE/14cc0a03ea473f77d66cde169c961215/ACC_DT_View.jpg?w=330&;h=220&fit=thumb" itemprop="thumbnail" alt="ACC Exterior">
                       </a>
                       <center>
                         <em>ACC Caption 10</em><br/>
                         <em>By-line  10</em>
                       </center>
                     </li>
                <!--
                     <li>
                       <a href="//images.contentful.com/a0fcgy83nees/1kDkpcjG8cqKYgko8cSkau/63f5c17994e35db638e32ece3f628d19/ACC_Atrium_interior.jpg?w=1800" itemprop="contentUrl" data-width="1785" data-height="1190" data-url="//images.contentful.com/a0fcgy83nees/1kDkpcjG8cqKYgko8cSkau/63f5c17994e35db638e32ece3f628d19/ACC_Atrium_interior.jpg">
                         <img src="//images.contentful.com/a0fcgy83nees/1kDkpcjG8cqKYgko8cSkau/63f5c17994e35db638e32ece3f628d19/ACC_Atrium_interior.jpg?w=330&h=220&fit=thumb" srcset="//images.contentful.com/a0fcgy83nees/1kDkpcjG8cqKYgko8cSkau/63f5c17994e35db638e32ece3f628d19/ACC_Atrium_interior.jpg?w=990&h=660&fit=thumb 3x,
                                   //images.contentful.com/a0fcgy83nees/1kDkpcjG8cqKYgko8cSkau/63f5c17994e35db638e32ece3f628d19/ACC_Atrium_interior.jpg?w=660&h=440&fit=thumb 2x,
                                   //images.contentful.com/a0fcgy83nees/1kDkpcjG8cqKYgko8cSkau/63f5c17994e35db638e32ece3f628d19/ACC_Atrium_interior.jpg?w=330&h=220&fit=thumb" itemprop="thumbnail" alt="ACC Interior">
                       </a>
                       <center>
                         <em>ACC Caption 11</em><br/>
                         <em>By-line  11</em>
                       </center>
                     </li>
                     <li>
                       <a href="//images.contentful.com/a0fcgy83nees/rdlb4cOdi0UUCeG2O2CkA/d3b28d15022a5508f6c3595be30463db/Atrium-Cafe-_1_-V2.jpg?w=1800" itemprop="contentUrl" data-width="1720" data-height="1144" data-url="//images.contentful.com/a0fcgy83nees/rdlb4cOdi0UUCeG2O2CkA/d3b28d15022a5508f6c3595be30463db/Atrium-Cafe-_1_-V2.jpg">
                         <img src="//images.contentful.com/a0fcgy83nees/rdlb4cOdi0UUCeG2O2CkA/d3b28d15022a5508f6c3595be30463db/Atrium-Cafe-_1_-V2.jpg?w=330&h=220&fit=thumb" srcset="//images.contentful.com/a0fcgy83nees/rdlb4cOdi0UUCeG2O2CkA/d3b28d15022a5508f6c3595be30463db/Atrium-Cafe-_1_-V2.jpg?w=990&h=660&fit=thumb 3x,
                                   //images.contentful.com/a0fcgy83nees/rdlb4cOdi0UUCeG2O2CkA/d3b28d15022a5508f6c3595be30463db/Atrium-Cafe-_1_-V2.jpg?w=660&h=440&fit=thumb 2x,
                                   //images.contentful.com/a0fcgy83nees/rdlb4cOdi0UUCeG2O2CkA/d3b28d15022a5508f6c3595be30463db/Atrium-Cafe-_1_-V2.jpg?w=330&h=220&fit=thumb" itemprop="thumbnail" alt="Atrium Café">
                       </a>
                       <center>
                         <em>ACC Caption 12</em><br/>
                         <em>By-line  12</em>
                       </center>
                     </li>
                     -->
            </ul>

            {% else %}
            <ul>
                <li>
                    <a href="//images.contentful.com/3vwk8ej7g1zv/MLNDWwBBq6EMqoak86ucA/a74fa704f9e96736aa24797188fff35f/_MG_1986sdp.jpg?w=1800" itemprop="contentUrl" data-width="2100" data-height="1400" data-url="//images.contentful.com/3vwk8ej7g1zv/MLNDWwBBq6EMqoak86ucA/a74fa704f9e96736aa24797188fff35f/_MG_1986sdp.jpg">
                        <img src="//images.contentful.com/3vwk8ej7g1zv/MLNDWwBBq6EMqoak86ucA/a74fa704f9e96736aa24797188fff35f/_MG_1986sdp.jpg?w=330&h=220&fit=thumb" srcset="//images.contentful.com/3vwk8ej7g1zv/MLNDWwBBq6EMqoak86ucA/a74fa704f9e96736aa24797188fff35f/_MG_1986sdp.jpg?w=990&h=660&fit=thumb 3x,
                      //images.contentful.com/3vwk8ej7g1zv/MLNDWwBBq6EMqoak86ucA/a74fa704f9e96736aa24797188fff35f/_MG_1986sdp.jpg?w=660&h=440&fit=thumb 2x,
                      //images.contentful.com/3vwk8ej7g1zv/MLNDWwBBq6EMqoak86ucA/a74fa704f9e96736aa24797188fff35f/_MG_1986sdp.jpg?w=330&h=220&fit=thumb" itemprop="thumbnail" alt="Palmer Events Center">
                    </a>
                    <center>
                        <em>PEC Caption 1</em><br/>
                        <em>By-line  1</em>
                    </center>
                </li>
                <li>
                    <a href="https://images.contentful.com/a0fcgy83nees/1EhCSHXz8kiOKG80AKuOEE/14cc0a03ea473f77d66cde169c961215/ACC_DT_View.jpg?w=1800" itemprop="contentUrl" data-width="1749" data-height="1188" data-url="https://images.contentful.com/a0fcgy83nees/1EhCSHXz8kiOKG80AKuOEE/14cc0a03ea473f77d66cde169c961215/ACC_DT_View.jpg">
                        <img src="https://images.contentful.com/a0fcgy83nees/1EhCSHXz8kiOKG80AKuOEE/14cc0a03ea473f77d66cde169c961215/ACC_DT_View.jpg?w=330&h=220&fit=thumb" srcset="https://images.contentful.com/a0fcgy83nees/1EhCSHXz8kiOKG80AKuOEE/14cc0a03ea473f77d66cde169c961215/ACC_DT_View.jpg?w=990&h=660&fit=thumb 3x,
                      https://images.contentful.com/a0fcgy83nees/1EhCSHXz8kiOKG80AKuOEE/14cc0a03ea473f77d66cde169c961215/ACC_DT_View.jpg?w=660&;h=440&fit=thumb 2x,
                      https://images.contentful.com/a0fcgy83nees/1EhCSHXz8kiOKG80AKuOEE/14cc0a03ea473f77d66cde169c961215/ACC_DT_View.jpg?w=330&;h=220&fit=thumb" itemprop="thumbnail" alt="ACC Exterior">
                    </a>
                    <center>
                        <em>PEC Caption 2</em><br/>
                        <em>By-line  2</em>
                    </center>
                </li>
                <li>
                    <a href="//images.contentful.com/3vwk8ej7g1zv/4p2FBOQjbiieckGGkQQMc8/4c3f68f93315bf8a7247c25196020604/Palmer_1.jpg?w=1800" itemprop="contentUrl" data-width="2100" data-height="1400" data-url="//images.contentful.com/3vwk8ej7g1zv/4p2FBOQjbiieckGGkQQMc8/4c3f68f93315bf8a7247c25196020604/Palmer_1.jpg">
                        <img src="//images.contentful.com/3vwk8ej7g1zv/4p2FBOQjbiieckGGkQQMc8/4c3f68f93315bf8a7247c25196020604/Palmer_1.jpg?w=330&h=220&fit=thumb" srcset="//images.contentful.com/3vwk8ej7g1zv/4p2FBOQjbiieckGGkQQMc8/4c3f68f93315bf8a7247c25196020604/Palmer_1.jpg?w=990&h=660&fit=thumb 3x,
                      //images.contentful.com/3vwk8ej7g1zv/4p2FBOQjbiieckGGkQQMc8/4c3f68f93315bf8a7247c25196020604/Palmer_1.jpg?w=660&h=440&fit=thumb 2x,
                      //images.contentful.com/3vwk8ej7g1zv/4p2FBOQjbiieckGGkQQMc8/4c3f68f93315bf8a7247c25196020604/Palmer_1.jpg?w=330&h=220&fit=thumb" itemprop="thumbnail" alt="Palmer Events Center">
                    </a>
                    <center>
                        <em>PEC Caption 3</em><br/>
                        <em>By-line  3</em>
                    </center>
                </li>
                <li>
                    <a href="//images.contentful.com/3vwk8ej7g1zv/3XdiA8V5E40iiSmoOuOYwS/89f0c37011b4882cf67807a2c1028de7/_MG_8331sdp.jpg?w=1800" itemprop="contentUrl" data-width="2100" data-height="1400" data-url="//images.contentful.com/3vwk8ej7g1zv/3XdiA8V5E40iiSmoOuOYwS/89f0c37011b4882cf67807a2c1028de7/_MG_8331sdp.jpg">
                        <img src="//images.contentful.com/3vwk8ej7g1zv/3XdiA8V5E40iiSmoOuOYwS/89f0c37011b4882cf67807a2c1028de7/_MG_8331sdp.jpg?w=330&h=220&fit=thumb" srcset="//images.contentful.com/3vwk8ej7g1zv/3XdiA8V5E40iiSmoOuOYwS/89f0c37011b4882cf67807a2c1028de7/_MG_8331sdp.jpg?w=990&h=660&fit=thumb 3x,
                      //images.contentful.com/3vwk8ej7g1zv/3XdiA8V5E40iiSmoOuOYwS/89f0c37011b4882cf67807a2c1028de7/_MG_8331sdp.jpg?w=660&h=440&fit=thumb 2x,
                      //images.contentful.com/3vwk8ej7g1zv/3XdiA8V5E40iiSmoOuOYwS/89f0c37011b4882cf67807a2c1028de7/_MG_8331sdp.jpg?w=330&h=220&fit=thumb" itemprop="thumbnail" alt="Palmer Events Center">
                    </a>
                    <center>
                        <em>PEC Caption 4</em><br/>
                        <em>By-line  4</em>
                    </center>
                </li>
                <li>
                    <a href="//images.contentful.com/3vwk8ej7g1zv/b9dUmlnFGSMkA6S2qMi46/404076720e5922e00420da4bd4cfb0fc/Palmer7-29-17-142-_1_.jpg?w=1800" itemprop="contentUrl" data-width="1680" data-height="1056" data-url="//images.contentful.com/3vwk8ej7g1zv/b9dUmlnFGSMkA6S2qMi46/404076720e5922e00420da4bd4cfb0fc/Palmer7-29-17-142-_1_.jpg">
                        <img src="//images.contentful.com/3vwk8ej7g1zv/b9dUmlnFGSMkA6S2qMi46/404076720e5922e00420da4bd4cfb0fc/Palmer7-29-17-142-_1_.jpg?w=330&h=220&fit=thumb" srcset="//images.contentful.com/3vwk8ej7g1zv/b9dUmlnFGSMkA6S2qMi46/404076720e5922e00420da4bd4cfb0fc/Palmer7-29-17-142-_1_.jpg?w=990&h=660&fit=thumb 3x,
                      //images.contentful.com/3vwk8ej7g1zv/b9dUmlnFGSMkA6S2qMi46/404076720e5922e00420da4bd4cfb0fc/Palmer7-29-17-142-_1_.jpg?w=660&h=440&fit=thumb 2x,
                      //images.contentful.com/3vwk8ej7g1zv/b9dUmlnFGSMkA6S2qMi46/404076720e5922e00420da4bd4cfb0fc/Palmer7-29-17-142-_1_.jpg?w=330&h=220&fit=thumb" itemprop="thumbnail" alt="Palmer Events Center">
                    </a>
                    <center>
                        <em>PEC Caption 5</em><br/>
                        <em>By-line  5</em>
                    </center>
                </li>
                <li>
                    <a href="//images.contentful.com/3vwk8ej7g1zv/3hELAwmgZyGQes0Gqs2Wie/b89790f7d433db31a1bd025b505160aa/Palmer7-29-17-150-_1_.jpg?w=1800" itemprop="contentUrl" data-width="1680" data-height="1120" data-url="//images.contentful.com/3vwk8ej7g1zv/3hELAwmgZyGQes0Gqs2Wie/b89790f7d433db31a1bd025b505160aa/Palmer7-29-17-150-_1_.jpg">
                        <img src="//images.contentful.com/3vwk8ej7g1zv/3hELAwmgZyGQes0Gqs2Wie/b89790f7d433db31a1bd025b505160aa/Palmer7-29-17-150-_1_.jpg?w=330&amp;h=220&amp;fit=thumb" srcset="//images.contentful.com/3vwk8ej7g1zv/3hELAwmgZyGQes0Gqs2Wie/b89790f7d433db31a1bd025b505160aa/Palmer7-29-17-150-_1_.jpg?w=990&amp;h=660&amp;fit=thumb 3x,
                      //images.contentful.com/3vwk8ej7g1zv/3hELAwmgZyGQes0Gqs2Wie/b89790f7d433db31a1bd025b505160aa/Palmer7-29-17-150-_1_.jpg?w=660&h=440&fit=thumb 2x,
                      //images.contentful.com/3vwk8ej7g1zv/3hELAwmgZyGQes0Gqs2Wie/b89790f7d433db31a1bd025b505160aa/Palmer7-29-17-150-_1_.jpg?w=330&h=220&fit=thumb" itemprop="thumbnail" alt="Palmer Events Center">
                    </a>
                    <center>
                        <em>PEC Caption 6</em><br/>
                        <em>By-line  6</em>
                    </center>
                </li>

            </ul>

            {% endif %}

        </div>




        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next">&rsaquo;</a>

        <p class="jcarousel-pagination"></p>
    </div>
</div>

{% javascript jcarousel.responsive %}
{% javascript jquery.jcarousel.min %}