{% if page.contentful.colorScheme != blank %}
  <div class="acc-parking-footer acc-color-theme-{{ page.contentful.colorScheme }}">
{% else %}
  <div class="acc-parking-footer acc-color-theme-Default">
{% endif %}
  <div class="acc-full acc-flex break-nav">
    <div class="acc-flex-thirds acc-parking-map">
      <!-- Google Maps -->
      <div id="map" style="width: 100%;height: 300px;"></div>
      <script>
        var map;
        {% if site.calendar_location == 'Palmer Events Center' %}
        var isPEC = true;
        var isACC = false;
        {% else %}
        var isPEC = false;
        var isACC = true;
        {% endif %}

        var pecContent = 
            '<div id="content">' +
            '<h4>Palmer Events Center</h4>' +
            '<div id="bodyContent">' +
            '<ul><li><a href="https://goo.gl/maps/3WZGqZjMA8U2">Street View</a></li><li><a href="https://www.google.com/maps?daddr=900+Barton+Springs+Rd+Austin+TX+78704">Directions</a></li></ul>' +
            '</div>' +
            '</div>';

        var pecGarageContent =
            '<div id="content">' +
            '<h4>Parking Garage</h4>' +
            '<div id="bodyContent">' +
            '<ul><li><a href="https://www.google.com/maps/dir//30.2595283,-97.75234">Directions</a></li></ul>' +
            '</div>' +
            '</div>';

        var accContent =
            '<div id="content">' +
            '<h4>Austin Convention Center</h4>' +
            '<div id="bodyContent">' +
            '<ul><li><a href="https://maps.google.com?daddr=500+E+Cesar+Chavez+Street+Austin+TX+78701">Directions</a></li><li><a href="https://goo.gl/maps/ArTzNXPJCD82">Street View</a></li></ul>' +
            '</div>' +
            '</div>';

        var accGarageContent1 =
            '<div id="content">' +
            '<h4>2nd Street Garage</h4>' +
            '<div id="bodyContent">' +
            '<ul><li><a href="https://maps.google.com?daddr=167+Brazos+Street+Austin+TX+78701">Directions</a></li><li><a href="https://goo.gl/maps/sZcE1Wk7ddn">Street View</a></li></ul>' +
            '</div>' +
            '</div>';

        var accGarageContent2 =
            '<div id="content">' +
            '<h4>5th Street Garage</h4>' +
            '<div id="bodyContent">' +
            '<ul><li><a href="https://goo.gl/maps/kY1tfhqZcMx">Street View</a></li><li><a href="https://maps.google.com?daddr=601+East+5th+Street+Austin+TX+78701">Directions</a></li></ul>' +
            '</div>' +
            '</div>';



        function initMap() {
          if (!window.google) {
            return;
          }

          // var pecLoc = new google.maps.LatLng(30.260317, -97.751960);
          var pecLoc = new google.maps.LatLng(30.260585, -97.753044);
          var pecLocGarage = new google.maps.LatLng(30.259663, -97.752405);
          var accLoc = new google.maps.LatLng(30.263669, -97.739609);
          var accLocGarage1 = new google.maps.LatLng(30.263667, -97.742976);
          var accLocGarage2 = new google.maps.LatLng(30.265403, -97.737157);

          map = new google.maps.Map(document.getElementById('map'), {
            center: isPEC ? pecLoc : accLoc,
            zoom: 14,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            gestureHandling: 'cooperative'
          });

          var features = isPEC ? [
            {
              position: pecLocGarage,
//               icon: pecGarageIcon,
              content: pecGarageContent,
              title: 'Palmer Events Center Parking Garage'
            }, {
              position: pecLoc,
//               icon: pecIcon,
              content: pecContent,
              title: 'Palmer Events Center'
            }
          ] : [
            {
                position: accLoc,
//                 icon: accIcon,
                content: accContent,
                title: 'Austin Convention Center'
              }, {
                position: accLocGarage1,
//                 icon: accGarageIcon1,
                content: accGarageContent1,
                title: '2nd Street Garage'
              }, {
                position: accLocGarage2,
//                 icon: accGarageIcon2,
                content: accGarageContent2,
                title: '5th Street Garage'
              }
          ];

          features.forEach(function (feature) {
            var marker = new google.maps.Marker({
              position: feature.position,
//               icon: feature.icon,
              title: feature.title,
              map: map
            });

            var infowindow = new google.maps.InfoWindow({
              content: feature.content
            });

            marker.addListener('click', function () {
              infowindow.open(map, marker);
            });
          });
        }

        if (window.google) {
          google.maps.event.addDomListener(window, 'load', initMap);
        }
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ site.google_maps_api_key }}&callback=initMap"></script>
    </div>
    <div class="acc-flex-thirds">
      {% assign parking_info = site.contentful.textBlock | where_exp: "textBlock", "textBlock.name == 'Parking Information Footer'" | first %}
      <h2>{{ parking_info.title }}</h2>
      {{ parking_info.text | markdownify }}
    </div>
    <div class="acc-flex-thirds">
      {% assign vicinity_info = site.contentful.textBlock | where_exp: "textBlock", "textBlock.name == 'Downtown Information Footer'" | first %}
      <h2>{{ vicinity_info.title }}</h2>
      {{ vicinity_info.text | markdownify }}
    </div>
  </div>
</div>

<footer class="acc-footer" role="contentinfo">
  <div class="acc-footer-content">
    <nav class="acc-full no-pad acc-flex wrap break-small">
      <div class="acc-flex-quarter-half">
        <h4>Address</h4>
        <div itemscope itemtype="http://schema.org/LocalBusiness">
          <span itemprop="name">{{ site.title }}</span><br />
          <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">{{ site.footer_address.street }}</span>
            <span itemprop="addressLocality">Austin</span>,
            <span itemprop="addressRegion">TX</span>
            <span itemprop="postalCode">{{ site.footer_address.zip_code }}</span><br />
            <span itemprop="telephone">{{ site.footer_address.phone }}</span>
          </span>
        </div>
      </div>
      <div class="acc-flex-quarter-half">
        <h4>Quick Links</h4>
        {% assign quick_links = site.contentful.menu | where_exp: "menu", "menu.name == 'Footer - Quick Links'" | first %}
        {% include components/menu.html items=quick_links.items %}
      </div>
      <div class="acc-flex-quarter-half">
        <h4>About Us</h4>
        {% assign about_us = site.contentful.menu | where_exp: "menu", "menu.name == 'Footer - About'" | first %}
        {% include components/menu.html items=about_us.items %}
      </div>
      <div class="acc-flex-quarter-half">
        <h4>Partners</h4>
        {% assign partners = site.contentful.menu | where_exp: "menu", "menu.name == 'Footer - Partners'" | first %}
        {% include components/menu.html items=partners.items %}
      </div>
    </nav>
    <div class="acc-full acc-footer-logos">
      <a class="logo-third" href="http://www.austintexas.gov">
        {% img coa-stamp.png "City of Austin" height="75px" width="75px" %}
      </a>
      <span class="logo-third" style="text-align: center;">
        {% img badges/leed.png "LEED-Certified" height="75px" width="75px" %}
      </span>
      <div class="logo-third acc-footer-icons">
        <a href="{{ site.instagram_url }}" title="Visit the {{site.title}} on Instagram">
          <i class="fab fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="{{ site.facebook_url }}" title="Visit the {{site.title}} on Facebook">
          <i class="fab fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="{{ site.youtube_url }}" title="Visit the {{site.title}} on YouTube">
          <i class="fab fa-youtube" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    {%- if site.calendar_location == 'Austin Convention Center' -%}
      <div class="acc-flex no-pad acc-full acc-partner-logos break-small break-partners">
        <div class="acc-flex-quarter-half">
          {% img badges/sxsw_black_logo.jpg %}
        </div>
      
        <div class="acc-flex-quarter-half">
          {% img badges/pcma.png %}
        </div>
      </div>
    {%- elsif site.calendar_location == 'Palmer Events Center' -%}
      <div class="acc-flex no-pad acc-full acc-partner-logos break-small break-partners">
        <div class="acc-flex-thirds">
          {% img badges/sxsw_black_logo.jpg %}
        </div>
        <div class="acc-flex-thirds">
          {% img badges/tsae.png %}
        </div>
        <div class="acc-flex-thirds">
          {% img badges/pcma.png %}
        </div>
      </div>
    {%- endif -%}
  </div>
</footer>
