<a class="usa-skipnav" href="#main-content">Skip to main content</a>
<header class="usa-header acc-header" role="banner">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <button class="usa-menu-btn">Menu</button>
      <div class="acc-logo">
        <a href="{{site.baseurl}}/" accesskey="1" title="Home" aria-label="Home">
          <img src="{% asset_path acc-logo.jpg %}" />
        </a>
      </div>
    </div>
    <nav role="navigation" class="usa-nav acc-nav" id="nav">
      <button class="usa-nav-close">
        <img src="{% asset_path uswds/src/img/close.svg %}" alt="close">
      </button>
      <ul class="usa-nav-primary acc-nav-primary">
        {% assign menu = site.contentful.menu | where: "name", "Header" | first %}
        {% for item in menu.items %}
          <li>
            <a class="usa-nav-link acc-nav-link {{item.slug}}" href="{% url_for item %}">
              {{item.title}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  {% include components/breadcrumbs.html %}
</header>
<div class="usa-overlay"></div>
