<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Meta Attributes -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if site.environment == "staging" %}
  <meta name="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
{% endif %}
  <link rel="icon" type="image/png" href="{% asset_path "{{ site.id }}-favicon.png" %}">
{% if page.title %}
  <title>{{ site.title }} | {{ page.title }}</title>
  <meta property="og:title" content="{{ site.title | xml_escape }} | {{ page.title | xml_escape }}" />
{% else %}
  <title>{{ site.title }}</title>
  <meta property="og:title" content="{{ site.title | xml_escape }} | {{ site.title | xml_escape }}" />
{% endif %}
{% if page.description %}
  <meta name="description" content="{{ page.description | xml_escape }}">
  <meta property="og:description" content="{{ page.description | xml_escape }}" />
{% else %}
  <meta name="description" content="{{ site.description | xml_escape }}">
  <meta property="og:description" content="{{ site.description | xml_escape }}" />
{% endif %}
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

<!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i" rel="stylesheet" />
  <link href="https://use.typekit.net/izd7zss.css" rel="stylesheet" /> <!-- ACCD's TypeKit -->
  <link href="https://use.typekit.net/xtb6utt.css" rel="stylesheet" /> <!-- Matt's TypeKit -->
  
<!-- Styles -->
  {% stylesheet main %}
  {% stylesheet print media:"print" %}
<!-- Google Analytics -->
  {% include analytics/google_analytics.html %}
<!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
<!-- Facebook Analytics -->
  {% if site.facebook_analytics_pixel_id %}
    {% include analytics/facebook_analytics.html %}
  {% endif %}

</head>
