// Colors
$acc-base: #2F2F30;
$acc-primary: #D0103A; // Deep red
$acc-primary-lighter: #E54D46; // Orange/red
// Typography
$acc-sans-serif: 'Poppins', sans-serif;
$acc-serif: 'Times New Roman', serif;