<style type="text/css">
  dt { font-weight: bold; }
</style>
{% for employee in page.contentful.employees %}
  <article>
    {{ employee.sys.fields }}
    <dl>
      <dt>
        Name
      </dt>
      <dd>
        {{ employee.name }}
        {% if employee.photo? %}
          <br>{{ employee.photo }}
        {% endif %}
      </dd>
      <dt>
        Email
      </dt>
      <dd>
        {{ employee.email }}
      </dd>
      {% unless employee.phone == nil %}
        <dt>Phone</dt>
        <dd>
          ({{ employee.phone | slice: 0, 3 }}) {{ employee.phone | slice: 3, 3 }} {{ employee.phone | slice: 6, 4 }}
        </dd>
      {% endunless %}
      {% unless employee.title == nil %}
        <dt>Title</dt>
        <dd>
          {{ employee.title }}
        </dd>
      {% endunless %}
      {% unless employee.region == nil %}
        <dt>Region</dt>
        <dd>
          {{ employee.region }}
        </dd>
      {% endunless %}
    </dl>
  </article>
  <hr>
{% endfor %}
