<div class="acc-primary-contact">
  <h3>Contact {{ page.contentful.primaryContact.division }}</h3>
  {{ page.contentful.primaryContact.name }}<br>
  {{ page.contentful.primaryContact.title }}<br>
  {% if page.contentful.primaryContact.phone != nil %}
    {{ page.contentful.primaryContact.phone }}<br>
  {% endif %}
  {% assign pc = page.contentful.primaryContact %}
  <a href="mailto:{{ pc.email }}">{{ pc.email }}</a>
  {% if pc.division != blank %}
    <p>
        <a class="usa-button usa-button-big acc-green-fade acc-button-arrow" href="{{ site.baseurl }}/contact/{{pc.division | slugify }}">See {{ pc.division }}</a>
    </p>
  {% endif %}
</div>
