.usa-nav-primary a {
  /*
  fyi Alex I removed the global "nav" declaration here because
  the Footer links are also treated as <nav> children, so we
  needed a way to target only the primary navigation without
  uppercasing the footer links 
  - Matt
  thanks! wasn't looking at the footer at all. my bad!
  - alex
  */
  text-transform: uppercase !important;
}

.acc-logo {
  max-height: 60px;
}
.hero {
  background-color: #f3f3f3;
  height: 250px;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
}

.hero a {
  position: absolute;
  right: 20px;
}
.button_wrapper {
  bottom: -80px;
  position: relative;
}
  .hero .book-meeting-button {
    font-size: 24px;
  }
  .rfp-button {
    margin-top: 40px;
    font-size: 12px;
}



.main-content .usa-width-one-third img {
  margin-bottom: 40px;
}



.usa-width-three-fourths .usa-form {
  max-width: 100%;
}

input[type="text"] {
  max-width: 100%;
}

.checkbox-label-fix {
  margin-top: 3rem;
}
.checkbox-label-fix label {
  margin-top: 0;
}


/*
  ==================
  Floorplan Styles
  ==================
*/
.floorplan-link {
  position: absolute;
  background: rgba(0, 0, 0, 0);
}
.floorplan-link span {
  display: none;
  width: 100%;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.floorplan-link:hover {
  display: block;
  background: rgba(0, 0, 0, .2);
}
.floorplan-link:hover span {
  display: block;
}





/*
  ==================
  Sales Team
  ==================
*/

.avatar-left {
  float: left;
  margin-right: 10px;
}
.sales-member {
  overflow: hidden;
}

  .sales-member-large img {
    width: 100%;
  }
  .sales-member-small img {
    float: right;
    padding-top: 10%;
    width: 60%;
  }
  
  .sales-member-large .sales-member-details {
    font-size: 120%;
  }
  .sales-member-details {
    float: left;
    font-size: 80%;
  }

  .sales-member-name {
    font-size: inherit;
    font-weight: normal;
  }

  .sales-member-title {
    font-size: inherit;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
  }

  .sales-member-email {
    font-size: inherit;
    font-weight: bold;
    margin: 0;
  }

  .sales-member-phone {
    margin: 0;
  } 


.sales-member-gray {
  background-color: #ddd;
  overflow: hidden;
  padding: 10px;
}
  .sales-member-gray header {
    margin-bottom: 20px;
    overflow: auto;
  }

  .sales-member-gray .sales-member-name {
    font-size: 16px;
    
  }
  .sales-member-gray img {
    float: left;
  }