{% if include.blocks != empty %}
<!--

  <div class="usa-grid">
    <div class="acc-content-block-list usa-width-one-whole">
-->



      {% for block in include.blocks %}
          {% case block.type %}
            {% when "accordionBlock" %}
              {% include components/content_blocks/accordion.html block=block %}
            {% when "contactBlock" %}
              {% include components/content_blocks/contact.html block=block %}
            {% when "featureBlock" %}
              {% include components/content_blocks/feature.html block=block %}
            {% when "galleryBlock" %}
              {% assign photoswipe = true %}
              {% if page.title == "Photos & Virtual Tour" %}
                {% include components/content_blocks/carousel.html block=block %}
              {% else %}
                {% include components/content_blocks/gallery.html block=block %}
              {% endif %}
            {% when "learnMoreMenu" %}
              {% include components/content_blocks/learn_more_menu.html block=block %}
            {% when "pageBanner" %}
              {% include components/content_blocks/page_banner.html block=block %}
            {% when "sideBySide" %}
              {% include components/content_blocks/side_by_side.html block=block %}
            {% when "textBlock" %}
              {% include components/content_blocks/text.html block=block %}
          {% endcase %}
      {% endfor %}





<!--
    </div>
  </div>
-->
  {% if photoswipe %}{% include components/photoswipe.html %}{% endif %}
{% endif %}
