{% if include.blocks != empty %}
  <div class="acc-content-block-list">
    {% for block in include.blocks %}
      <div class="acc-content-block">
        {% case block.type %}
          {% when "accordionBlock" %}
            {% include components/content_blocks/accordion.html block=block %}
          {% when "contactBlock" %}
            {% include components/content_blocks/contact.html block=block %}
          {% when "galleryBlock" %}
            {% assign photoswipe = true %}
            {% if page.title == "Photos & Virtual Tour" %}
              {% include components/content_blocks/carousel.html block=block %}
            {% else %}
              {% include components/content_blocks/gallery.html block=block %}
            {% endif %}
          {% when "textBlock" %}
            {% include components/content_blocks/text.html block=block %}
        {% endcase %}
      </div>
    {% endfor %}
  </div>
  {% if photoswipe %}{% include components/photoswipe.html %}{% endif %}
{% endif %}
