{% if include.blocks != empty %}
  <div>
    {% for block in include.blocks %}
      {% case block.type %}
        {% when "textBlock" %}
          {% include components/sidebar_blocks/text.html block=block %}
        {% when "contactBlock" %}
          {% include components/sidebar_blocks/contact.html block=block %}
        {% when "menu" %}
          {% include components/menu.html items=block.items list_classes="acc-sidebar-links" item_classes="acc-button acc-button-secondary" %}
      {% endcase %}
    {% endfor %}
  </div>
{% endif %}
