.acc-accordion-container {
  margin-top: $acc-vertical-margin;
}

.acc-accordion {
  max-width: 700px;
  margin: 0 auto;
  color: black;
}



.acc-accordion-button {
  @include acc-button-font-icon(1.5rem, "\f068");
  background-color: $acc-color-gray-lightest;
  background-image: none;
  padding-right: 5.5rem;
  position: relative;

  &::after {
    right: 3rem;
  }

  &[aria-expanded=false] {
    background-image: none;

    &::after {
      content: "\f067";
    }
  }
}


