.acc-calendar-event-title {
  margin-bottom: .5rem;
  margin-top: 0;
}

.acc-calendar-event {
  border-bottom: 1px solid $acc-color-gray-light;
  margin-bottom: 3rem;
  padding-bottom: 1em;
}

.acc-calendar-event-date {
  font-size: 1em;
}
