.acc-contact-title {
  color: $acc-color-gray-dark;
  font-size: $h3-font-size;
  font-weight: bold;
}

.acc-contact-block {
  color: $acc-color-gray;
  margin-bottom: 4rem;
}

.acc-mailto {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}
