.acc-feature-block {
  background-color: $acc-color-gray-lightest;
  background-repeat: no-repeat;
  background-position: center 2rem;
  background-size: auto;
  font-size: 2rem;
  margin-top: $acc-vertical-margin;
  padding: 8rem 3rem 2em 3rem;
  text-align: center;
}

.acc-feature-Testimonial {
  background-image: image_url('icons/testimonial.png');
}

.acc-feature-Wifi {
  background-image: image_url('icons/wifi.png');
}

.acc-feature-block p {
  max-width: $site-max-width;
  margin: 0 auto;

  &:first-child {
    padding-bottom: 1em;
  }
}

.acc-feature-block ul {
  max-width: $site-max-width/2;
  margin: 0 auto;
  text-align: left;
}

.acc-mega-feature {
  margin-top: $acc-vertical-margin;
  text-align: center;
}
.acc-mega-feature > div {
  background-repeat: no-repeat;
  background-image: url('//images.ctfassets.net/xv1q576gx3e5/pKnk2MrCsSskqce4kSK4o/69a3a51930b612300b385f8475c85ce0/SpiceWorld_2016_FB4.JPG?w=600');

//   background-position: -80% 0;
  background-size: 0 0;

  @media screen and (min-width: $nav-width) {
    background-position: top right;
    background-size: auto 100%;
  }

  p {
    margin-top: 2em;
  }
}
.acc-mega-feature .usa-grid > div {
/*
  border: 5px solid red;
  background-repeat: no-repeat;
*/
  padding: 3em 0;


  @media screen and (min-width: $nav-width) {
    padding-left: 2em;
    padding-right: 60%
  }
}
