.acc-floor-plan-setups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.acc-floor-plan-setups li {
  background-size: 2em;
  background-position: 0 0;
  background-repeat: no-repeat;
  color: $acc-color-gray;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  margin-bottom: 1em;
  padding-left: 3em;
}

@media screen and (min-width: $medium-screen) {
  .acc-floor-plan-setups li {
    flex-basis: 50%;
  }
}

.acc-floor-plan-setups li h4 {
  color: $acc-color-red;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  text-transform: uppercase;
}

.acc-floor-plan-setups li.acc-banquet {
  background-image: image_url('icons/gallery.svg');
}

.acc-floor-plan-setups li.acc-theater {
  background-image: image_url('icons/gallery.svg');
}

.acc-floor-plan-setups li.acc-classroom {
  background-image: image_url('icons/gallery.svg');
}

.acc-floor-plan-setups li.acc-booths {
  background-image: image_url('icons/gallery.svg');
}

.acc-floor-plan-specifications {
  color: $acc-color-gray;

  dt {
    font-weight: bold;
  }

  dd {
    color: $acc-color-gray;
  }
}

.acc-floor-plan .acc-content-block-header {
    background-color: $acc-color-gray-lightest;
    padding: .5em 1em;
}

.acc-floor-plan-specification-list {
  border-right: 1px solid $acc-color-gray-light;
}

.acc-floor-plan-map-clickable {
  cursor: pointer;
  transition: fill 0.2s ease;

  &:hover {
    fill: #9E6079 !important;
  }
}

.acc-floor-plan-map-current {
  fill: #444046 !important;

  &:hover {
    fill: #444046 !important;
  }
}

.tooltip-element.acc-floor-plan-map-tooltip .tooltip-content {
  font-family: $acc-font-primary;
  font-size: $acc-base-font-size;
  padding: 7px 10px;
}
