.acc-floor-plan-map {
  margin: 2.5em 0;
}

.acc-floor-plan-map-clickable {
  cursor: pointer;
  transition: fill 200ms ease;

  &[id*="ballroom" i]:hover {
    fill: #FFDD93 !important;
  }

  &[id*="exhibit_hall" i]:hover {
    fill: #C4D792 !important;
  }
}

.acc-floor-plan-map-current {
  &[id*="ballroom" i] {
    fill: #FFC037 !important;

    &:hover {
      fill: #FFC037 !important;
    }
  }

  &[id*="exhibit_hall" i] {
    fill: #9FBE4F !important;

    &:hover {
      fill: #9FBE4F !important;
    }
  }
}

.acc-floor-plan-map #levels > [id^="clickable"] {
  transition: opacity 200ms ease;
}

.acc-floor-plan-map #levels:hover > [id^="clickable"] {
  opacity: 0.35;

  &:hover {
    opacity: 1.0;
  }
}

.tooltip-element.acc-floor-plan-map-tooltip .tooltip-content {
  font-family: $font-sans;
  font-size: $base-font-size;
  padding: 7px 10px;
}

.acc-floor-plan-files {
  margin-bottom: 2.5em;
}

.acc-floor-plan-setups,
.acc-floor-plan-specifications {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.acc-floor-plan-setups li,
.acc-floor-plan-specifications li {
  width: 100%;

  @media screen and (min-width: $medium-screen) {
    width: 50%;
  }
}

.acc-floor-plan-setups li {
  background-size: 3rem;
  background-position: 0.75rem 1.75rem;
  background-repeat: no-repeat;
  margin-bottom: 1em;
  padding-left: 5rem;
}

.acc-floor-plan-setups li.acc-banquet {
  background-image: image_url("icons/setup-banquet.png");
}

.acc-floor-plan-setups li.acc-theater {
  background-image: image_url("icons/setup-theater.png");
}

.acc-floor-plan-setups li.acc-classroom {
  background-image: image_url("icons/setup-classroom.png");
}

.acc-floor-plan-setups li.acc-booths {
  background-image: image_url("icons/setup-booth.png");
}
