.acc-parking-footer {
  color: white;
  font-size: 1.2rem;
  margin-top: $acc-vertical-margin;
  padding: 5rem 0 3rem 0;
}

.acc-parking-footer {
  h2, p, ul {
    margin-left: 2rem;
  }

  p:last-child {
    text-align: center;
  }
}

.acc-parking-map {
  text-align: center;
  @media screen and (min-width: $medium-screen) {
    text-align: left;
  }
  img {
    width: 100%;
  }
}
.acc-parking-footer .acc-button {
  border-color: white;
  color: white;
}

#map {
  color: black;
  h4 {
    color: black;
    margin-top: 0;
  }
  ul {
    list-style: none;
    padding-left: 0;
    li a {
      @include acc-button-base;
      font-size: 1.5rem;
    }
  }
}

.acc-parking-footer h2 {
  font-size: 4.5rem;
  line-height: 1em;
  text-align: left;
  @media screen and (min-width: $nav-width) {
    margin-top: 0;
  }
}
.acc-footer {
  font-size: 1.5rem;
  margin-top: 7rem;
}

.acc-footer-content {
  background-color: black;
  color: $acc-color-white;
  padding-top: 2.5rem;
}

.acc-footer-content nav {
  padding-bottom: 5rem;
}

.acc-footer-content a {
  color: $acc-color-white;
  display: inline-block;

  &:visited, &:active {
    color: $acc-color-white;
  }

  &:hover {
    color: $acc-color-white;
    text-decoration: underline;
  }
}

.acc-footer-content h4 {
  color: white;
  width: 100%;
  font-size: 2rem;
}

.acc-footer-address {
  padding: 0 3rem;
  h4{
    margin: 0;
    padding: 0;
  }
}

.acc-footer-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.acc-footer-logos{
  display: flex;
  padding: 0 3rem;
  margin-bottom: 2rem;
  span, a{
    display: inline-block;
    align-self: center;
    margin-right: 1.5rem;
  }
  a {
    font-size: 2em;
  }
}
.acc-footer-stamps{
  display: flex;
  flex: 1;
  justify-content: flex-start;
}
.acc-footer-icons{
  display: flex;
  flex: 1;
  justify-content: flex-end;
}


.acc-footer-address {
  font-size: 1.3rem;
  line-height: 1.5em;
}

.acc-partner-logos {
  background-color: white;
  padding: 2rem 1rem;
  width: 100%;
  max-width: 100%;
  text-align: center;

  > div {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.acc-footer-social-links {
  font-size: 2em;
  text-align: center;
  width: 100%;

  @media screen and (min-width: $medium-screen) {
    text-align: right;
    width: auto;
  }

  a {
    margin-left: 1rem;

    &:first-of-type {
      margin-left: 0;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.acc-footer-end,
.acc-footer-badges {
  text-align: center;
  padding-bottom: 3rem;
}

.acc-footer-badge {
  padding-top: 3rem;

  a {
    display: inline-block;
  }

  img {
    filter: grayscale(100%);
    height: 5rem;
    width: auto;
  }
}

.acc-footer-copyright {
  font-size: 1.3rem;
}
