

.acc-header{

}

.acc-header-content {
  @include full-width();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  height: 9rem;
  @media screen and (min-width: $nav-width) {
    height: $desktop-header-height;
  }
}


.acc-megamenu-description {
  font-size: 1.7rem;
  padding: 1em 1em 0 3rem;

  display: none;

  p {
    margin: 0;
  }

  @media screen and (min-width: $nav-width) {
    display: block;
  }
}


.acc-logo {
  flex: 1 0 auto;

  a {
    display: inline-block;
  }

  img {
    height: 5rem;
    max-width: none;
  }
}

.acc-disclaimer {
  background-color: $acc-color-red;
  padding: .25em;
  color: white;
  font-size: 1.2rem;

  a {
    @include link-color-states(white);
    color: white;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }
}
