.acc-homepage-banner h1 {
  min-height: 20rem;
}

.acc-homepage-menu-container {
  margin-top: $acc-vertical-margin;
}
.acc-homepage-menu-container .acc-button-grid li {
  text-align: center;

  a {
    background-color: $acc-color-gray-lightest;
    text-align: center;
    margin: 0 auto 2em auto;
    display: inline-block;
    font-family: $acc-font-header;
    text-decoration: none;
    padding-bottom: 1em;
    color: black;
    transition: all $transition-time;
    max-width: 50rem;

    &:hover {
      background-color: white;
      transition: all $transition-time;
    }

    img {
      display: block;
      padding-bottom: 1em;
      width: 100%;
    }

    @media screen and (min-width: $medium-screen) {
//       margin: 0 2rem 2rem 2rem;
    }
  }
}

.acc-upcoming-events {
  margin-top: $acc-vertical-margin;
  font-size: 2rem;

  > div {
    border-right: 1px solid black;
    text-align: center;
  }

  &:last-child div {
    border-right: none;
  }

  a {
    display: block;
    background-color: white;
    padding: 1em .5em;
    text-align: center;
    text-decoration: none;
    transition: all $transition-time;
    font-size: 3rem;
    padding-bottom: .5em;

/*
    &:hover {
      background-color: $acc-color-gray-lightest;
      transition: all $transition-time;
    }
*/

  }
  &:last-child > div {
      border-right: none;
  }
}

