.acc-nav-link, .acc-nav-button{
  @include button-unstyled;
    display: block;
    font-family: $acc-font-header;
    font-size: 2.2rem;
    letter-spacing: .07em;
    padding: 1.3rem $site-margins-mobile 1.7rem;
    text-decoration: none;
    background-color: white;
    color: black;
    transition: background-color $transition-time;
    width: 100%;
    &:hover, &:active, &[aria-expanded=true] {
      color: white;
      transition: background-color $transition-time;
    }
}

.acc-nav-primary{
  margin: 0;
  padding: 0;
  & > li{
    display: inline-block;
    & > a {
      padding-left: 2.8rem;
      line-height: 1.3;
      &:hover{
        text-decoration: underline;
        color: black;
      }
    }
    & > button, & > a {
      font-family: $acc-font-header;;
    }
  }
}

.acc-nav-primary .acc-nav-events-link {
  margin: .5rem 0;
  border-left: 1px solid #ccc;
}

// .acc-nav-primary {
//   .acc-nav-link {
//     @include button-unstyled;
//     display: block;
//     font-family: $acc-font-header;
//     letter-spacing: .07em;
//     padding: 1.3rem $site-margins-mobile 1.7rem;
//     text-decoration: none;
//     background-color: white;
//     color: black;
//     transition: background-color $transition-time;
    
//     &:hover, &:active, &[aria-expanded=true] {
//       color: white;
//       transition: background-color $transition-time;

//       span {
//         border: none;
//       }
//     }
    
//     @media screen and (min-width: $medium-screen) and (max-width: $nav-width) {
//       padding-left: $site-margins;
//       padding-right: $site-margins;
//     }
  
//     @media screen and (min-width: $medium-screen) {
//       &[aria-expanded=true], &[aria-expanded=false] {
//         background-image: none !important;
//       }
//     }
  
//     @media screen and (max-width: $nav-width) {
//       font-size: 2em;
//       padding-left:2rem;
//       &[aria-expanded=false], &[aria-expanded=true] {
//         background-image: none;
//       }
//       span {
//         padding-left: 2rem;
//       }
//     }
  
//     span {
//       padding: 0.25rem 0 0.25rem 1rem;
//       margin-left: calc(-1rem - 3px);
//       border-bottom-width: 0px;
//     }

//     @media screen and (min-width: $nav-width) {
//       height: $desktop-header-height;
//       span {
//         margin-left: 0;
//         padding: 0 0 0.25rem 0;
//         border-left: none;
//       }
//     }
  
//   }
// }



// .acc-nav-primary > li > a, .acc-nav-primary > li > button {
//   @media screen and (min-width: $nav-width) {
//     font-size: 2.2rem;
//   }
// }

.acc-nav{
  a {
    text-decoration: none;
  }
}



.acc-nav-section{
    width: 100%;
    display: none;
    padding-bottom: 3rem;
    &[aria-hidden="false"]{
        display: block;
    }
}

.acc-nav-header{

}
.acc-section-cols{
    display: block;
}

.acc-section-col{
    ul {
      list-style-type: none;
      margin: 0;
      li {
          font-size: 1.4rem;
          margin: 0;
          display: block;
          a{
            display: block;            
            font-family: $acc-font-primary;
            line-height: 1.3;
            padding: 0.85rem 1rem 0.85rem 1.8rem;
            color: white;
          }
      }
    }
}

@media screen and (max-width: $nav-width) {
  // mobile: uses max-width
  .acc-nav-primary{
    & > li{
      display: block;
    }
  }
  .acc-nav-section {
    display: block;
    padding-bottom: 0;
    &[aria-hidden=true] {
      display: block;
    }
  }
  .acc-section-description{
    display: none;
  }
  .acc-section-col ul {
    padding: 0;
    li {
      a{
        padding-left: 2.8rem;
      }
    }
  }
}

 @media screen and (min-width: $nav-width) {
    .acc-nav-section{
        position: absolute;
        z-index: 1;
        left: 0;
    }
 }

.acc-nav-primary {
  @media screen and (min-width: $nav-width) {
    .acc-section-cols{
        display: flex;
    }
    .acc-section-col{
      ul {
        flex: 1;
        list-style-type: square;
        li{
          font-size: 3rem;
        }
      }
    }
  }

  a:hover{
    background-color: rgba(255,255,255,0.2);
    color: white;
  }

  .acc-mega-nav-plan {
    button:hover, button:active, button[aria-expanded=true] {
      background-color: $acc-color-plan;
    }

    .acc-nav-section {
      @include navigation-gradient($acc-color-plan);
    }
  }
  
  .acc-mega-nav-attend {
    button:hover, button:active, button[aria-expanded=true] {
      background-color: $acc-color-attend;
    }
    .acc-nav-section {
      @include navigation-gradient($acc-color-attend);
    }
  }

  .acc-mega-nav-exhibit {
    button:hover, button:active, button[aria-expanded=true] {
      background-color: $acc-color-exhibit;
    }
    .acc-nav-section {
      @include navigation-gradient($acc-color-exhibit);
    }
  }
}

.acc-section-col{
    flex: 1;
}


.acc-menu-button { // hamburger
  width: auto;

  &:active {
    background-color: transparent;
  }

  @media screen and (min-width: $nav-width) {
    display: none;
  }
}

@media screen and (min-width: $nav-width) {
  .acc-nav-primary .acc-megamenu-col > ul {
    margin-left: 1em;
  }
}

.acc-nav .acc-nav-primary .acc-nav-section .acc-nav-close-button {
  display: none;
  position: absolute;
  top: 3rem;
  right: 2em;
  width: 4rem;
  height: 4rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: image_url('icons/button-close.png');
  background-position: center center;
  text-indent: -9999px;

  &:hover, &:active {
    background-color: transparent;
  }

  @media screen and (min-width: $nav-width) {
    display: block;
  }
}

.acc-nav {
  background-color: $acc-color-white;
  box-shadow: 0 3px 5px -3px rgba(#000, 0.3);
  width: 100%;
  max-height: 0;
  overflow-y: hidden;
  position: absolute;
  top: 9rem;
  left: 0;
  transition: max-height 0.25s ease-out;
  z-index: 100;

  &.is-visible {
    max-height: 31rem; // ~ 6 items
    overflow-y: auto;
    transition: max-height 0.25s ease-in;
  }

  @media screen and (min-width: $nav-width) {
    box-shadow: none;
    max-height: none;
    overflow-y: visible;
    position: static;
    top: auto;
    left: auto;
    width: auto;
  }
}

.acc-nav-submenu-title {
  display: none;
  font-size: 6rem;
  font-family: $acc-font-header;
  padding-left: 3rem;

  @media screen and (min-width: $nav-width) {
    display: block;
  }
}
