.acc-numbers-feature {
  margin-top: $acc-vertical-margin;
  background-color: $acc-color-gray-lightest;
  text-align: center;
  padding-bottom: 2rem;

  h2 {
    text-align: center;
    padding-top: 2rem;
  }

  h3 {
    padding-top: 2rem;
    font-size: 4rem;
    margin-top: 0;
  }

}
