.acc-press-headline {
  font-size: 2rem;
  letter-spacing: normal;
  line-height: 1.2em;
}

.acc-press-byline {
  border-bottom: 1px solid $acc-color-gray-light;
  font-weight: normal;
  padding-bottom: 1em;
}

.acc-press-contact {
  border-top: 1px solid $acc-color-gray-light;
  margin-top: 2em;
  padding-top: 2em;
}
.acc-press-release-list li {
  margin-bottom: .5em;
}

.acc-press-release-date {
  margin-bottom: 0;
}
