.acc-primary-contact {
  background-color: $acc-color-gray-light;
  padding-bottom: 1rem;
}

.acc-primary-contact h2 {
  border-bottom: 2px solid $acc-border-color;
  font-size: 3rem;
  line-height: 1.2em;
  margin-top: 0;
  padding: 2rem;
}

.acc-primary-contact p {
  padding: 1rem 2rem;
}
