{% assign accordion = include.block %}
<div class="acc-accordion-container">
  <ul class="usa-accordion acc-accordion">
    {% for block in accordion.contentBlocks %}
      {% if block.type != "textBlock" %}{% continue %}{% endif %}
      {% assign id = block.title | slugify %}
      <li>
        <button class="usa-accordion-button acc-accordion-button" aria-controls="{{ id }}-{{ forloop.index }}">
          <span>{{ block.title }}</span><i class="fas fa-plus"></i><i class="fas fa-minus"></i>
        </button>
        <div id="{{ id }}-{{ forloop.index }}" class="usa-accordion-content acc-accordion-content">
          {{ block.text | markdownify }}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
