{% assign block = include.block %}



<script src="https://code.jquery.com/jquery-1.8.2.min.js" type="text/javascript"></script>
{% if block.title == "Facility Photos" %}

  <h3 class="acc-content-block-header" style="margin-top: 1.5em;">Photos</h3>
  <div class="wrapper"  id="carousel_{{ block.sys.id }}">
    <div class="jcarousel-wrapper">
        <div class="jcarousel">

            <ul itemscope itemtype="http://schema.org/ImageGallery" data-gid="{{ block.sys.id }}" class="acc-gallery {% unless block.showThumbnails == false %}acc-gallery-thumbnails{% endunless %}" style="display:flex;">
                {% for gallery_image in block.galleryImages limit:9 %}
                  {% assign image = gallery_image.image %}

                  {% if image.url %}
                    <li class="carousel-li">
                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" data-index="{{ forloop.index0 }}" data-pid="{{ image.sys.id }}" class="acc-gallery-photo acc-gallery-photo-carousel" style="width: 99%;padding-left:3px;padding-right: 3px;">
                          <a href="{{ image.url }}?w=1800" itemprop="contentUrl" data-width="{{ image.width }}" data-height="{{ image.height }}" data-url="{{ image.url }}" class="carousel-image-link">
                              <img src="{{ image.url }}?w=1920"
                                   srcset="{{ image.url }}?w=1920 2x,
                                   {{ image.url }}?w=960" alt="{{ gallery_image.title | default: image.title }}" />
                          </a>

                          {% if block.showCaptions or gallery_image.caption != empty %}
                            <figcaption class="acc-gallery-caption caption-container" itemprop="caption description">{{ gallery_image.caption | default: gallery_image.title | markdownify }}</figcaption>
                          {% endif %}
                        </figure>
                    </li>
                  {% endif %}
                {% endfor %}
            </ul>
            <p class="jcarousel-pagination" style="width: 100%;text-align:center;"></p>


        </div>

        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next">&rsaquo;</a>

    </div>


      <h3 class="acc-content-block-header" style="margin-left: -20px;padding-bottom: 8px;">Virtual Tour</h3>
      <div>
          {% if site.title == "Palmer Events Center" %}
            <iframe src="https://accd360tours.com/pec/index.html" style="width:100%;min-height:400px;"></iframe>
          {% elsif site.title == "Austin Convention Center" %}
            <iframe src="https://accd360tours.com/accd/index.html" style="width:100%;min-height:400px;"></iframe>
          {% endif %}

      </div>





  </div>
{% endif %}







{% javascript carousel/jquery.jcarousel.min %}
{% javascript carousel/jquery.jcarousel.responsive.min %}
{% javascript carousel/jquery.jcarousel-swipe.min %}
