{% assign contact = include.block %}

<div class="acc-contact-block vcard">
  {{ contact.sys.fields }}
  <dl>
    <dt class="fn acc-contact-name">
      {{ contact.name }}
    </dt>
    {% if contact.title %}
      <dd class="title">
        {{ contact.title }}
      </dd>
    {% endif %}
    {% if contact.region %}
      <dd>
        {{ contact.region }}
      </dd>
    {% endif %}
    {% if contact.email %}
      <dd class="email">
        <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
      </dd>
    {% endif %}
    {% if contact.phone %}
      <dd class="tel">
        {{ contact.phone | format_phone }}
      </dd>
    {% endif %}
  </dl>
</div>
