{% assign contact = include.block %}

<div class="acc-contact-block vcard">
  {{ contact.sys.fields }}
  <dl>
    {% if contact.title %}
      <dt class="acc-contact-title">
        {{ contact.title }} 
        {% if contact.region %}
          - {{ contact.region }}
        {% endif %}
      </dt>
    {% endif %}
    <dd class="fn acc-contact-name">
      {{ contact.name }}
    </dd>
    {% if contact.email %}
      <dd class="email">
        <a href="mailto:{{ contact.email }}" class="acc-mailto">{{ contact.email }}</a>
      </dd>
    {% endif %}
    {% if contact.phone %}
      <dd class="tel">
        {{ contact.phone | format_phone }}
      </dd>
    {% endif %}
  </dl>
</div>
