{% assign block = include.block %}

<div class="acc-full">

{% if block.title %}<h3 class="acc-content-block-header">{{ block.title }}</h3>{% endif %}

<ul class="acc-accordion" data-widget="accordion">
  <li>
    <button class="acc-accordion-button" data-widget="accordion-button" aria-controls="gallery-filter-content">
      <span>Filter Gallery Images</span><i class="fas fa-plus" aria-hidden="true"></i><i class="fas fa-minus" aria-hidden="true"></i>
    </button>
    <div id="gallery-filter-content" class="acc-accordion-content gallery-filters">
      <!-- checkboxes will be dynamically added from gallery-filter.js -->
    </div>
  </li>
</ul>

<div itemscope itemtype="http://schema.org/ImageGallery" data-gid="{{ block.sys.id }}" class="acc-gallery {% unless block.showThumbnails == false %}acc-gallery-thumbnails{% endunless %}">
  {% for gallery_image in block.galleryImages %}
    {% assign image = gallery_image.image %}
    {% assign tag = gallery_image.tag %}

    {% if image.url %}
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" data-index="{{ forloop.index0 }}" data-pid="{{ image.sys.id }}" class="acc-gallery-photo">
        {% if block.showThumbnails == false %}
        <img src="{{ image.url }}?w=960"
            data-tag="{{ tag }}"
             srcset="{{ image.url }}?w=1920 2x,
                {{ image.url }}?w=960" alt="{{ gallery_image.title | default: image.title }}" />
        {% else %}
        <a href="{{ image.url }}?w=1800" itemprop="contentUrl" data-width="{{ image.width }}" data-height="{{ image.height }}" data-url="{{ image.url }}">
            <img src="{{ image.url }}?w=330&h=220&fit=thumb"
                data-tag="{{ tag }}"
                srcset="{{ image.url }}?w=990&h=660&fit=thumb 3x,
                  {{ image.url }}?w=660&h=440&fit=thumb 2x,
                  {{ image.url }}?w=330&h=220&fit=thumb"
                itemprop="thumbnail" alt="{{ gallery_image.title | default: image.title }}" />
        </a>
        {% endif %}
        {% if block.showCaptions or gallery_image.caption != empty %}
          <figcaption class="acc-gallery-caption" itemprop="caption description">{{ gallery_image.caption | default: gallery_image.title | markdownify }}</figcaption>
        {% endif %}
      </figure>
    {% endif %}
  {% endfor %}
</div>

<div id="no-gallery-images" class="acc-full">No images match the filter results.</div>

</div>
