// Colors
$acc-color-gray: #5E5B60;
$acc-color-gray-light: #D8D3DD;
$acc-color-gray-lightest: #F5F4F8;
$acc-color-gray-dark: #444046;

$acc-color-red: #D36E7D;

$acc-color-orange: #FB6F64;

$acc-color-green: #75A973;

$acc-color-violet: #676389;

$acc-color-teal: #00807A;
$acc-color-teal-dark: #1D6464;
$acc-color-teal-light: #C2F6EC;

$acc-color-white: #FFFFFF;

$acc-link-color: $acc-color-teal;
$acc-link-hover-color: $acc-color-teal-dark;

// Typography
$acc-font-primary: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;

$acc-base-font-size: 1.7rem;
$acc-weight-light: 300;
$acc-weight-normal: 400;
$acc-weight-bold: 600;

$acc-color-base: $acc-color-gray;

$acc-section-colors: (
  'facilities': $acc-color-red,
  'services': $acc-color-orange,
  'visiting': $acc-color-teal
);

$transition-time: .5s;

$acc-border-radius: 1rem;

$acc-border-color: $acc-color-gray-light;

@import "uswds";
