// Colors
$acc-color-gray: #5E5B60;
$acc-color-gray-light: #EBEBEB;
$acc-color-gray-dark: #444046;
$acc-color-white: #F5F4F8;

$acc-color-red: #D26D7C;
$acc-color-red-light: #FED5E6;
$acc-color-red-dark: #9E617A;

$acc-color-orange: #F78D69;
$acc-color-orange-light: #FFEDD5;
$acc-color-orange-dark: #B57D64;
$acc-color-orange-alt: #C67562;

$acc-color-green: #23928D;
$acc-color-green-light: #CBFBF2;
$acc-color-green-lighter: #C2F6EC;

$acc-color-violet-light: #95839E;

// Typography
$acc-font-primary: "Poppins", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$acc-font-secondary: "Rubik", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;

$acc-border-color: #E8E6ED;

$acc-color-base: $acc-color-gray-dark;

$acc-section-colors: (
  'facilities': $acc-color-red,
  'services': $acc-color-orange,
  'visit': $acc-color-green
);

$transition-time: .5s;

@import "uswds";
