$site: config_value("id");

$acc-color-primary-light: #cef8f0;
$acc-color-primary: #000;
$acc-color-primary-dark: #000;
/*
$acc-color-primary-dark: black;
$acc-breadcrumb-color: #77BC1F;
*/

@if $site == pec or $site == pec_staging {
/*
  $acc-color-primary-light: #B1D6ED;
  $acc-color-primary: #2573A1;
  $acc-color-primary-dark: #1D5C80;
  $acc-breadcrumb-color: #1AAFE2;
*/
}

$acc-vertical-margin: 12rem;

$acc-button-width: 20rem;

// Colors
$acc-color-white:  #ffffff;
/*
$acc-color-gray-lightest: #BEC6C4;
$acc-color-gray-light: #A2ACAB;
$acc-color-gray: #919D9D;
$acc-color-gray-dark: #717C7D;
*/
/* Most recently provided ~ Oct 28? */
$acc-color-gray-lightest: #B7CDC8;
$acc-color-gray-light: #9FB2AC;
$acc-color-gray: #809699;
$acc-color-gray-dark: #526D6F;

/* Matt's version */
$acc-color-gray-lightest: #B7CDC8;
$acc-color-gray-light: #9FB2AC;
$acc-color-gray: #809699;
$acc-color-gray-dark: #526D6F;


$acc-color-red: #d36e7d;
$acc-color-orange: #f35348;
$acc-color-green: #689671;
$acc-color-violet: #7f7285;
$acc-color-brand-secondary: #FF952C;

// Typography
$acc-font-primary: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$acc-font-header: "bebas-neue", "Arial Black", serif;

$transition-time: 0.5s;

@import "uswds";
