.acc-button {
  @include background-color-transition;
  background-repeat: no-repeat;
  background-size: 1.6em;
  border-radius: 1rem;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1em;
  text-align: center;
  text-decoration: none;

  &:hover {
    @include background-color-transition;
  }

}

.acc-button-dark {
  @include background-color-transition;
  @include link-color-states($acc-color-white);
  background-color: $acc-color-teal;
  color: $acc-color-white;

  &:hover {
    @include background-color-transition;
    background-color: $acc-color-teal-dark;
  }

}

.acc-button-primary {
  @include background-color-transition;
  background-color: $acc-color-gray-lightest;
  background-image: image_url('icons/arrow-teal.svg');
  background-position: 95% center;
  background-size: .4em;
  border-bottom: 2px solid white;
  border-radius: 0;
  font-size: $h2-font-size;
  font-weight: 300;
  padding: 1em 2em 1em 1em;
  text-align:left;

  &:hover {
    @include background-color-transition;
    background-color: $acc-color-teal-light;
  }

}

.acc-button-secondary {
  @include link-color-states($acc-color-gray);
  background-color: $acc-color-white;
  background-position: 95% center;
  background-repeat: no-repeat;
  border: 2px solid $acc-color-gray-light;
  color: $acc-color-gray;
  margin-bottom: 1rem;
  padding-right: 3em;
  text-align: left;

  &:hover {
    background-color: $acc-color-gray-lightest;
  }

}

.acc-button-info {
  background-image: image_url('icons/info.svg');
}

.acc-button-pdf {
  background-image: image_url('icons/document.svg');
}
