@mixin acc-button-base {
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  color: black;
  font-family: $acc-font-header;
  font-size: 2rem;
  padding: .5em 1em;
  text-decoration: none;

  &:active, &:visited, &:hover {
  }
}

.acc-button {
  @include acc-button-base;
}
