@mixin acc-button-base {
  background-color: transparent;
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  color: black;
  font-family: $acc-font-header;
  font-size: 2rem;
  letter-spacing: .07em;
  padding: .5em 1em;
  text-decoration: none;
  transition: background-color $transition-time;

  &:active, &:visited, &:hover {
    background-color: rgba(0,0,0,.1);
    color: black;
    transition: background-color $transition-time;
  }
}

.acc-button {
  @include acc-button-base;
}

.acc-button-grid,
.acc-button-grid-wide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.acc-button-grid > *,
.acc-button-grid-wide > * {
  display: flex;
  width: 100%;
//   border: 5px solid red !important;
}

.acc-button-grid > * {
  @media screen and (min-width: $medium-screen) {
    width: calc(50% - 1em);
    margin: 0 .5em;
  }
  @media screen and (min-width: $nav-width) {
    width: calc(33% - 1em);
    margin: 0 .5em;
  }
}

.acc-button-grid-wide > * {
  @media screen and (min-width: $medium-screen) {
    width: calc(50% - 1em);
    margin-right: 1em;
//     border: 5px solid green !important;
  }

   @media screen and (min-width: $large-screen) {
    width: calc(33% - 1em);
//     border: 5px solid yellow !important;
  }
}

/*
@mixin acc-button-icon {
  background-color: #fff;
  background-image: image_url("icons/button-primary-#{$site}.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2.5rem;
  content: '';
  width: 5rem;
  height: 5rem;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -2.5rem;
}
*/

@mixin acc-button-font-icon($size, $icon) {
  padding-right: 3 * $size;

  &::after {
    content: $icon;
    font-family: FontAwesome;
    font-size: $size;
    line-height: $size;
    width: $size;
    height: $size;
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: $size / -2;
  }
}

@mixin button-unstyled {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-weight: $font-normal;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: left;
  -webkit-font-smoothing: auto;

  &:hover {
    background-color: transparent;
  }
}

.acc-button-unstyled {
  @include button-unstyled;
}