// Mobile First Breakpoints
// $small-screen: 481px;
// $medium-screen: 600px;
// $large-screen: 1201px;
// $nav-width: 951px;
// $partners-width: 720px;

.acc-full{
    // not really a flex box, but replaces functionality of usa-grid
    max-width: 1200px;
    @media screen and (min-width: $medium-screen) {
        padding-right: 3rem;
        padding-left: 3rem;
    }
}
.acc-flex {
    display: flex;
    flex-direction: column;
    &.break-large{
        @media screen and (min-width: $large-screen) {
            flex-direction: row;
        }
    }
    &.break-medium{
        @media screen and (min-width: $medium-screen) {
            flex-direction: row;
        }
    }
    &.break-small{
        @media screen and (min-width: $small-screen) {
            flex-direction: row;
        }
    }
    &.break-nav{
        @media screen and (min-width: $nav-width) {
            flex-direction: row;
        }
    }
    &.break-partners{
        @media screen and (min-width: $partners-width) {
            flex-direction: row;
        }
    }
}
.acc-flex-one-half{
    flex: 1 1 50%;
    padding: 0 3rem;
}
.acc-flex-one-third{
    flex: 1 1 33%;
    padding: 0 3rem;
}
.acc-flex-one-fourth{
    flex: 1 1 25%;
    padding: 0 3rem;
}
.acc-flex-three-fourths{
    flex: 1 1 75%;
    padding: 0 3rem;
}