// Reference:
// Mobile First Breakpoints
//      $small-screen: 481px;
//      $medium-screen: 600px;
//      $large-screen: 1201px;
//      $nav-width: 951px;
//      $partners-width: 720px;
.acc-full {
  // not really a flex box, but replaces functionality of usa grid
  @include full-width();
  &.no-pad {
    padding-right: 0;
    padding-left: 0;
  }
}

// acc-flex is mobile-first, so used by itself, it will not create columns
// it should always be used in conjunction with a break point:
// class="acc-flex break-medium"
// class="acc-flex break-nav"

.acc-flex {
  display: block;
  flex-direction: row;
  &.break-large {
    @media screen and (min-width: $large-screen) {
      display: flex;
      .acc-flex-one-fourth {
        padding: 0 3rem 0 0;
      }
    }
  }
  &.break-medium {
    @media screen and (min-width: $medium-screen) {
      display: flex;
    }
  }
  &.break-small {
    @media screen and (min-width: $small-screen) {
      display: flex;
    }
  }
  &.break-nav {
    @media screen and (min-width: $nav-width) {
      display: flex;
    }
  }
  &.no-break {
    // will create columns that never change.
    display: flex;
  }
  &.break-partners {
    @media screen and (min-width: $partners-width) {
      flex-direction: row;
    }
  }
  &.wrap {
    flex-wrap: wrap;
  }
}

// children of acc-flex
.acc-flex-one-half {
  flex: 1 1 50%;
  padding: 0 3rem;
}

.acc-flex-thirds {
  flex: 1 1 33%;
  padding: 0 3rem;
}

.acc-flex-one-third {
  flex: 1 1 33%;
  padding: 0 0 0 3rem;
}

.acc-flex-two-thirds {
  flex: 1 1 66%;
  padding: 0 3rem 0 0;
}

.acc-flex-one-fourth {
  flex: 1 1 25%;
  padding: 0 3rem 0 0;
}

.acc-flex-three-fourths {
  flex: 1 1 75%;
  padding: 0;
}

.acc-flex-quarter-half {
  // will divide into quarters, then halves, then column
  // note, must be used with "wrap": class="acc-flex wrap"
  flex: 1 1 50%;
  max-width: 50%;
  padding: 0 3rem;
  @media screen and (min-width: $large-screen) {
    flex: 1 1 25%;
    max-width: 25%;
  }
}

.acc-two-thirds {
  // not flex
  width: auto;
  @media screen and (min-width: $small-screen) {
    width: 66%;
  }
}