.acc-form {
  margin-top: 6rem;

  legend h3 {
    margin-top: 0;
  }
}

.acc-form .acc-button[type="submit"] {
  display: block;
  width: 100%;

  @media screen and (min-width: $medium-screen) {
    width: auto;
  }
}

.staging-banner {
  text-align: center;
  background-color: #ffcc00;
  padding:0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
