.acc-meet-the-team {
  text-align: center;
  list-style: none;
  padding-left: 0;
  justify-content: space-between;
}
.acc-meet-the-team-photo-wrapper {
  margin-top: -4em;
  img {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
  }
}

.acc-employee > div {
  padding: 2em 1em 3em 1em;
  background-color: $acc-color-gray-lightest;
}
.acc-employee-bio {
  display: none;
  position: fixed;
  width: 60%;
  left: 20%;
  top: 20%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0, .5);
  z-index: 200;
}
.acc-employee-bio > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.acc-employee-bio {
  > div {
    > div {
      padding: 1em;
      text-align: left;
      background-color: white;
      width: 90%;
      max-width: 800px;
      max-height: 80%;
      margin: 0 auto;
      overflow: visible;
      position: relative;
      img {
        position: absolute;
        top: -20px;
        right: -20px;
        width: 45px;
        height: 45px;
        padding: 4px;
        background-color: black;
        border-radius: 50%;
        cursor: pointer;
      }
      > div {
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
      }
    }
  }
}
