@require 'bourbon';

@function lighten($color) {
  @return mix(white, $color, 20%);
}

@mixin background-color-transition {
  transition: background-color $transition-time;
}

@mixin link-color-states($color) {
  &:hover, &:active, &:visited {
    color: $color;
    text-decoration: none;
  }
}

@mixin navigation-gradient($color) {
  @include gradient-theme($color);
  &::before, &::after {
    @include gradient-theme($color);
  }
}

@mixin gradient-theme($color) {
  background: linear-gradient($color, lighten($color));
  background: -moz-linear-gradient($color, lighten($color));
  background: -webkit-linear-gradient($color, lighten($color));
}

.acc-color-theme-Plan {
  @include gradient-theme($acc-color-plan)
}

.acc-color-theme-Attend {
  @include gradient-theme($acc-color-attend)
}

.acc-color-theme-Exhibit {
  @include gradient-theme($acc-color-exhibit)
}

.acc-color-theme-Calendar {
  @include gradient-theme($acc-color-calendar)
}
