@require 'bourbon';

@function lighten($color) {
  @return mix(white, $color, 20%);
}

@mixin background-color-transition {
  transition: background-color $transition-time;
}

@mixin link-color-states($color) {
  &:hover, &:active, &:visited {
    color: $color;
    text-decoration: none;
  }
}

@mixin navigation-gradient($color) {
  @include gradient-theme($color);
  &::before, &::after {
    @include gradient-theme($color);
  }
}

@mixin gradient-theme($color) {
  background: linear-gradient($color, lighten($color));
  background: -moz-linear-gradient($color, lighten($color));
  background: -webkit-linear-gradient($color, lighten($color));
  color: white;

  .acc-button {
    color: white;
    border-color: white;
    &:hover, &:active {
      color: white;
      background-color: rgba(0,0,0,.1);
    }
  }
}

@mixin theme-inheritance($color) {
  &.acc-page-banner-text-container, &.acc-parking-footer {
    @include gradient-theme($color);
  }
}

.acc-color-theme-Default {
  @include gradient-theme($acc-color-base);
  @include theme-inheritance($acc-color-base);
/*
  &.acc-page-banner-text-container, &.acc-parking-footer {
    @include gradient-theme($acc-color-base);
  }
*/
}

.acc-color-theme-Plan {
  @include gradient-theme($acc-color-plan);
  @include theme-inheritance($acc-color-plan);

  .acc-button {
    color: white !important;
  }
}

.acc-color-theme-Attend {
  @include gradient-theme($acc-color-attend);

  .acc-button {
    color: white !important;
  }
}

.acc-color-theme-Exhibit {
  @include gradient-theme($acc-color-exhibit);

  .acc-button {
    color: white !important;
  }
}

.acc-color-theme-Calendar {
  @include gradient-theme($acc-color-calendar);

  .acc-button {
    color: white !important;
  }
}
