body {
  color: $acc-color-gray;
  font-family: $acc-font-primary;
  font-size: $acc-base-font-size;
  font-weight: normal;
}

h1 {
  color: $acc-color-gray;
  font-weight: $acc-weight-light;
  padding-bottom: .5em;
}

h2 {
  color: $acc-color-gray;
  font-weight: $acc-weight-light;
  margin-top: 0;
}

h3 {
  color: $acc-color-gray;
  font-weight: $acc-weight-bold;
}

h4 {
  font-size: 1.5rem;
}

p {
  margin-top: .5em;
}

a {
  color: $acc-link-color;
  transition: color $transition-time;
  
  &:active, &:visited {
    color: $acc-link-color;
  }
  
  &:hover {
    color: $acc-link-hover-color;
    transition: color $transition-time;
  }

}

.acc-content-block-list ul {
  margin-top: 0;
}
