<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  {% include head.html %}
  <body class="{{ page.slug }}">
    <div class="acc-disclaimer">
      <div class="usa-grid">
        Disclaimer: The Austin Convention Center website is in development. The content on this page is subject to change and may not be accurate. The Austin Convention Center Department makes no guarantees as to the accuracy of the content on these pages.<br><br>Please visit <a href="http://www.austinconventioncenter.com">AustinConventionCenter.com</a> for the most accurate information.
      </div>
    </div>
    {% include header.html %}
    <main id="main-content">
      {{ content }}
    </main>
    {% include footer.html %}

    {% javascript main %}
  </body>
</html>
