<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->

  {% include head.html %}

  <body class="{{ page.title | slugify }}">

    {% include header.html %}


    <div class="usa-grid">
      <aside class="usa-width-one-fourth">
        {% include sidenav.html %}
      </aside>

      <main id="main-content" class="usa-width-three-fourths usa-content">
        {{ content }}


      </main>
    </div>

    {% include footer.html %}


    <script src="{{site.baseurl}}/assets/vendor/uswds-0.12.1/js/uswds.min.js"></script>
  </body>

</html>
