---
layout: default
---

<div class="usa-grid">
  <h1>{{page.title}}</h1>
  <ul>

    {% assign events = page.events | sort: "arrive_date" %}

    {% for event in events %}
      <li>{{ event.arrive_date }} - {{ event.depart_date }}: {{ event.event_name | default: "Private Event" }}</li>
    {% endfor %}
  </ul>

  {% if page.previous %}
    <a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}

  {% if page.next %}
    <a href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>
