---
layout: default
---

<div class="usa-grid">
  {% if page.contentful.coverImage != nil %}
    <img src="{{ page.contentful.coverImage.url }}" alt="Banner image" class="acc-banner-image" />
  {% endif %}
  <h1>{{ page.contentful.title }}</h1>
</div>
<div class="usa-grid">
  <div class="usa-width-two-thirds">
    <div>
      {{ page.contentful.content | markdownify }}
      {% include components/content_blocks.html blocks=page.contentful.contentBlocks %}
    </div>
  </div>
  <aside class="usa-width-one-third">
    {% if page.contentful.primaryContact %}
      {% include components/sidebar/primary_contact.html contact=page.contentful.primaryContact %}
    {% endif %}
  </aside>
</div>
