---
layout: default
---

<div class="acc-full">
  <div class="acc-two-thirds">
    <header>
      <h2>{{ page.contentful.title }}</h2>
    </header>
    <h4 class="acc-press-byline">{{ page.contentful.byline }}</h4>
    {{ page.contentful.date | date: "%B %-d, %Y" }}
    {{ page.contentful.content | markdownify }}
    <div class="acc-press-contact">
      For more information, contact:<br>
      {{ site.press_contact.name }}, {{ site.press_contact.title }}, {{ site.title }}<br>
      {{ site.press_contact.phone | format_phone }} or <a href="mailto:{{ site.press_contact.email }}">{{ site.press_contact.email }}</a>
    </div>
  </div>
</div>
