---
layout: default
---

{% include components/content_blocks.html blocks=page.contentful.contentBlocks %}
{{ content }}

<div class="usa-grid">
    
<!--   <div class="usa-width-one-whole"> -->

    <ul class="acc-contact-list usa-width-one-whole usa-unstyled-list">

      <li>
        <h4>General Inquiries</h4>
        <p>
          <span class="fa fa-phone">(512) 555 1212
        </p>
        <p>
          <span class="fa fa-email"><a href="">name@email.com</a>
        </p>
        <p>
          <span class="fa fa-alert">For more info go to <a href="">a page that has more</a>
        </p>
      </li>

      <li>
        <h4>Sales (For Requesting a Proposal)</h4>
        <p>
          (512) 555 1212
        </p>
        <p>
          <a href="mailto:hello@austintexas.gov">conventionsales@austintexas.gov</a>
        </p>
      </li>

      <li>
        <h4>IT (Questions & Ordering)</h4>
        <p>
          (512) 555 1212
        </p>
        <p>
          <a href="mailto:hello@austintexas.gov">accdtechnicalservices@austintexas.gov</a>
        </p>
      </li>

      <li>
        <h4>Catering (Levy)</h4>
        <p>
          (512) 555 1212
        </p>
        <p>
          <a href="mailto:hello@austintexas.gov">rwagley@levyrestaurants.com</a>
        </p>
      </li>

      <li>
        <h4>Event Service (For Contracted Events)</h4>
        <p>
          (512) 555 1212
        </p>
        <p>
          <a href="mailto:hello@austintexas.gov">@austintexas.gov</a>
        </p>
      </li>

      <li>
        <h4>Exhibitor Services (For Questions)</h4>
        <p>
          (512) 555 1212
        </p>
        <p>
          <a href="mailto:hello@austintexas.gov">accdexhibitorservices@austintexas.gov</a>
        </p>
        <p>
          To order services, visit our <a href="">online ordering portal</a>.
        </p>
      </li>

      <li>
        <h4>Security & Safety</h4>
        <p>
          (512) 555 1212
        </p>
        <p>
          <a href="mailto:hello@austintexas.gov">accdsecurity@austintexas.gov</a>
        </p>
      </li>

      <li>
        <h4>Accounts Payabel</h4>
        <p>
          (512) 555 1212
        </p>
        <p>
          <a href="mailto:hello@austintexas.gov">acctspayable@austintexas.gov</a>
        </p>
      </li>

      <li>
        <h4>Marketing</h4>
        <p>
          (512) 555 1212
        </p>
        <p>
          <a href="mailto:hello@austintexas.gov">accdmarketing@austintexas.gov</a>
        </p>
      </li>

      <li>
        <h4>Emergencies (Medical, Fire)</h4>
        <p>
          (512) 555 1212
        </p>
        <p>
          <a href="mailto:hello@austintexas.gov">emergency@austintexas.gov</a>
        </p>
      </li>


    </ul>

<!--   </div> -->
</div>
