{% assign contact = include.block %}

<div class="acc-primary-contact">
  <h3>Contact {{ contact.division }}</h3>
  <p>
    {{ contact.name }}
  <p>
    {{ contact.title }}
  </p>
  {% if contact.phone != nil %}
    <p>
      {{ contact.phone | format_phone }}
    </p>
  {% endif %}
  <p class="acc-email-link">
    <a href="mailto:{{ contact.email }}" class="acc-sidebar-email-link">{{ contact.email }}</a>
  </p>
  {% if contact.division %}
    {% capture contact_url %}/contact/{{ contact.division | slugify }}/{% endcapture %}
    {% assign contact_page = site.pages | where: "url", contact_url | first %}
    {% if contact_page %}
      <p>
        <a class="acc-button acc-button-dark" href="{{ contact_page.url }}">{{ contact.division }} Team</a>
      </p>
    {% endif %}
  {% endif %}
</div>
