{% assign contact = include.block %}

<h4 class="acc-sidebar-block-header">Contact {{ contact.division }}</h3>
<p>
  {{ contact.name }}<br/>
  {{ contact.title }}<br/>
  {% if contact.phone != nil %}{{ contact.phone | format_phone }}<br/>{% endif %}
  <a href="mailto:{{ contact.email }}" class="acc-mailto">{{ contact.email }}</a>
</p>
{% if contact.division %}
  {% capture contact_url %}/contact/{{ contact.division | slugify }}-team/{% endcapture %}
  {% assign contact_page = site.pages | where: "url", contact_url | first %}
  {% if contact_page %}
    <p>
      <a class="acc-button acc-button-secondary acc-button-contact" href="{{ contact_page.url }}">
        View {{ contact.division }} Team
      </a>
    </p>
  {% endif %}
{% endif %}
